@import 'styles/header';
@import 'styles/home';
@import 'styles/about-us';
@import 'styles/rooms';
@import 'styles/room-details';
@import 'styles/offers';
@import 'styles/contact';
@import 'styles/footer';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

body{
    min-width: 320px;
}