.video-container {
  width: 90%;
  margin-left: 5%;
  &__video {
    height: 186px;
    margin-top: 1.5rem;
    background-color: #e6e6e6;
  }

  &__text {
    margin-top: 10%;
    font-size: 2rem;
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    line-height: 2.4719rem;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: -0.0725rem;
  }
}

.features {
  columns: 2;
  flex-wrap: wrap;
  width: 90%;
  margin-top: 20%;
  margin-left: 5%;
  text-align: center;
  &__feature {
    aspect-ratio: 1;
    align-content: center;
    flex: 1;
    width: 100%;
    &__image {
    }
    &__text {
      margin-top: 10%;
      font-size: 0.75rem;
      font-family: Archivo, sans-serif;
      font-weight: 700;
      line-height: 0.875rem;
      text-transform: uppercase;
      letter-spacing: 0.15rem;
    }
  }
}

.restaurant {
  margin-inline: 5%;
  margin-top: 10%;
  &__container {
    padding: 5%;
    &__image {
      aspect-ratio: 1.2;
      width: 100%;
    }
    &__section-title {
      width: 60%;
      padding-top: 20%;
      font-size: 0.8rem;
      font-family: Archivo, sans-serif;
      font-weight: 700;
      line-height: 1.125rem;
      color: #777777;
      text-transform: uppercase;
      letter-spacing: 0.3rem;
    }

    &__content-title {
      margin-top: 5%;
      font-size: 2.5rem;
      font-family: "Old Standard TT", serif;
      font-weight: 400;
      line-height: 3.09rem;
      text-transform: capitalize;
      letter-spacing: -0.0656rem;
    }

    &__text {
      font-size: 0.875rem;
      font-family: Archivo, sans-serif;
      font-weight: 400;
      line-height: 1.5rem;
      color: #777777;
    }
    &__button {
      width: 70%;
      max-width: 13.5625rem;
      height: 4rem;
      margin-top: 5%;
      background-color: #bead8e;
      border: none;
      font-size: 0.875rem;
      font-family: Archivo, sans-serif;
      font-weight: 700;
      line-height: 0.9519rem;
      color: white;
      text-transform: uppercase;
      letter-spacing: 0.175rem;
    }
  }
}

.facilities--about-us {
  padding-bottom: 20%;
  background-color: #222222;
  &__section-title {
    color: white;
  }
  &__content-title {
    color: white;
  }
  &__feature {
    padding-bottom: 20%;
    background-color: #292929;
    &__title {
      color: white;
    }
    &__text {
      color: white;
    }
  }
}

.counter {
  margin-inline: 5%;
  margin-top: 20%;
  &__section-title {
    width: 60%;
    font-size: 0.8rem;
    font-family: Archivo, sans-serif;
    font-weight: 700;
    line-height: 1.125rem;
    color: #777777;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
  }
  &__content-title {
    margin-top: 5%;
    font-size: 3.5rem;
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    line-height: 3.75rem;
    text-transform: capitalize;
    letter-spacing: -0.075rem;
  }
  &__item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10%;
    padding: 5%;
    &__image {
    }
    &__text {
      &__number {
        font-size: 3.75rem;
        font-family: "Old Standard TT", serif;
        font-weight: 400;
        line-height: 3.75rem;
        letter-spacing: -0.1125rem;
      }
      &__info {
        font-family: Archivo, sans-serif;
        color: #777777;
        text-transform: capitalize;
      }
    }
    &__arrow {
    }
  }

  &__image-container {
    margin-top: 10%;
    &__image {
      width: 100%;
      aspect-ratio: 1.5;
    }
  }
}
